body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;  
  align-items: center;      
  background-color: #c8e0b5;
  
}

.container {
  background: white;
  padding: 40px;
  width: 500px;
  text-align: center;
  background-color: solid 2 black;
}
button {
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  background-color: rgb(38, 110, 110);
  border-radius: 10px;
}

.message {
  margin-top: 20px;
  color: rgb(55, 64, 100);
  font-weight: bold;
}

