.container{
    display: flex;
    position:relative;

    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100vh;
}

.static-box, .relative-box, .absolute-box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
}
@media (max-width: 700px){
    .container {
        flex-direction: column;

    }
    .static-box, .relative-box, .absolute-box {
        background-color: red;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}
