
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}




.sidebar {
    width: 250px;
    height: 100vh;
    background-color: black;
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    color: white;
}

.sidebar h1 {
    font-size: 28px;
    color: white;
    
}
.header {
    height: 120px;
    background-color: black;
    display: flex;
    justify-content: right;   
    align-items: center;
    gap: 20px;                 
    border-bottom: 1px solid #ddd;
    padding-right: 20px;

}


.container {
    margin-left: 80px; 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
    padding: 10px;
}


.box {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.box:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
button:hover {
    background-color: #0056b3;
}


.layout {
    margin-left: 250px;   
    display: block;      
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 15px;
    transition: background-color 0.3s;
}

.box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}


.box p {
    padding: 10px;
    font-weight: bold;
}
h2{
  text-align: center;
}

.page_title {
    text-align: center;
    margin: 40px 0;
    font-size: 28px;
}