.container{
  background-color: black;
  left: 90px;  
  

  
}

.box{
  width: 100px;
  height: 100px;
  background-color: blue;
}

.static-box  {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: static;
  margin-left: 20px;
}

.relative-box{
  position: relative;
  width: 100px;
  height: 100px;
  top: 200px;
  right: 0px;
  background-color: green;
  
}
.absolute-box{
  position: absolute;
  width: 100px;
  height: 100px;
  top: 300px;
  left: 200px;
  
  background-color: violet;
}