body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e5e7eb;
}

/* Layout */
.container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 240px;
  background-color: #2e72b6;
  color: white;
  padding: 20px;
}

.logo {
  color: #373964;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buttons button {
  background: none;
  border: none;
  color: white;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.buttons button:hover {
  background-color: #34495e;
}

.buttons .active {
  background-color: #16a085;
}

/* Content */
.content {
  flex: 1;
  padding: 30px;
}

.content h1 {
  margin-bottom: 30px;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 10px rgba(16, 15, 15, 0.1);
  transition: transform 0.3s ease ;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin: 0 0 10px 0;
}

/* Card Colors */
.blue { background-color: #6589a1; }
.orange { background-color: #323853; }
.purple { background-color: #281c2d; }
.red { background-color: #8f7a77; }

/* Responsive */
@media (max-width: 900px) {
  .cards {
    flex-direction: column;
  }

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
