
  
body{
  background-color:rgb(28, 22, 51);
  color: white;
}
h1{
  background-color: rgb(93, 88, 153);
  color: violet;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin-left: 200px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;        
  padding: 20px;      
  margin: 50px auto;
  
  border: 2px solid white;
}
label{
  font-size: 20px;
  font-weight: 600;
}
input{
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  margin-left: 100px;
}
.button{
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: blue;
  color: white;
}
select{
  width: 200px;
  padding: 10px;
  margin: 10px;
   
}
.pass{
  margin-left: 71px;
}
.skill{
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(66, 60, 60);
  border-radius: 30px;

}