body{
    background-color: black;

}

.container{
  gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.box{
    width: 200px;
    height: 200px;
    background-color: black   
}

.container1{
  gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.img{
    width: 200px;
    height: 200px;
    background-color: black   
}