body {
      font-family: Arial;
      padding: 20px;
    }
    button {
      margin-left: 5px;
      cursor: pointer;
      color: white;
      background-color: blue;
      border-radius: 20px;
      
    }